<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{tvshow?.original_name }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid *ngIf="tvshow">
  <ion-row>
    <ion-col col-6>
      <img src = "{{'https://image.tmdb.org/t/p/w500'+tvshow.poster_path}}">
    </ion-col>

    <ion-col col-6>
      <h4>Season Count: </h4><p>{{tvshow.number_of_seasons}}</p>
      <div class="genres" *ngIf="tvshow && tvshow.genres && tvshow.genres.length">
        <div class="label"><ion-icon name="md-pricetag"></ion-icon>Type</div>
        <div class="value"><span *ngFor="let genre of tvshow.genres; let last = last">{{ genre.name }}<span *ngIf="!last">, </span></span></div>
      </div>
      <h4>Air Date: </h4><p>{{tvshow.first_air_date}}</p>
      <h4>Rating: </h4><p>{{tvshow.vote_average}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <h4>Overview</h4>
      <p>{{tvshow.overview}}</p>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
