<ion-tabs main color="primary">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label class="home">Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv-shows">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label class="tv-shows">TV Shows</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="search">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="search">Actors</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
